#logo{
  max-width: 5%;
}
#menu{
  height: 100vh;
}
#plus{
  max-width: 50%;
  cursor: pointer;
}
#collapseExample{
  padding-bottom:0;
  background-color: #0DCAF0;
  border: none;
}
#items{
  background-color: #0DCAF0;
  border: none;
  padding: 5%;
  padding-bottom:0;
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

#imgItem{
  max-width: 40%;
  cursor: pointer;
}
