<div class="nav bg-info w-100 border border-dark d-flex align-items-center" id="cabecalho" >
  <img id="logo" class="img-fluid p-2" src="../assets/pena.png" alt="">
  Criador de notas
</div>
<div class="row w-100 p-2 pt-0">
  <div id="menu" class="col-3 bg-info border border-dark border-top-0">
    <div class="row p-2 border-bottom border-dark" *ngFor="let conjunt of conjunto">
      <div class="col-6">{{conjunt.topico}}</div>
      <div class="col"><a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><img id="plus" src="../assets/down-chevron.png" alt=""></a></div>
      <div class="col"><img id="plus" src="../assets/bin.png" alt="" (click)="deletaTopico(conjunt)" ></div>
      <!--Colapse-->
      <div class="collapse" id="collapseExample">
        <div id="items" class="card card-body" *ngFor="let item of conjunt.items">
            <ul>
              <div class="row d-flex align-items-center">
                <div class="col-8"><a href=""><li>{{item.titulo}}</li></a></div>
                <div class="col"><img id="imgItem" src="../assets/plus.png" alt=""></div>
              </div>
            </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"><a data-bs-toggle="modal" data-bs-target="#exampleModal"><input id="buttonSubmit" class="btn btn-secondary m-2 bordedr border-dark"value="Novo tópico"></a></div>
    </div>
    <!--Modal nova nota-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Criar nova nota</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input class="form-control" type="text" placeholder="Título" [(ngModel)]="novoTopico">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancelar</button>
            <input id="buttonSubmit" class="btn btn-secondary " type="submit" data-bs-dismiss="modal" (click)="criaTopico()" value="Criar">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>
